bin:
activate
activate.csh
activate.fish
Activate.ps1
distro
dotenv
httpx
normalizer
openai
pip
pip3
pip3.10
pyrsa-decrypt
pyrsa-encrypt
pyrsa-keygen
pyrsa-priv2pub
pyrsa-sign
pyrsa-verify
python
python3
python3.10
tqdm

include:

lib:
python3.10

lib64:
python3.10
lib64
