body{
	background: radial-gradient(circle, red, white); 
	/* height: 200vh; */
	padding:0px;
	margin:0px;
}
#flex_whole{
	display:flex;
	justify-content:center;
	width:100vw;
}
.title_card{
	height:5rem;
	width:95%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	/* padding: 0 1rem; */
}
.title_card img{
	height:100%;
}
.graphic_container{
	margin: 0.5rem 0;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	position:relative;
	top:-50px;

}
#thunder{
	padding:0;
	position:relative;
}
#thunder img{
	margin:0;
	width:20rem;
	height:12rem;
	position:relative;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#thunder .yaml_clip{
	font-family:'Black Ops One', system-ui;
	color:rgba(81,83,78,1);
	font-size:4.1rem;
	text-align:center;
	line-height:3.75rem;
	background-clip:text;
	display:flex;
	position:absolute;
	top:0;
	background-color:white;
	width:100%;
	height:100%;
	justify-content:center;
	align-items:center;
	align-content:center;
	flex-wrap:wrap;
}
main{
	height:72vh;
	display:flex;
	justify-content:center;
	padding:0;
	margin:0;
}
.main_container{
	position:relative;
	/* bottom:-300px; */
	border-radius:30px 30px 0 0;
	width:95%;
	/* margin-bottom:1%; */
	background-color:rgba(255,255,255,0.75);
	background: rgba(50, 50, 50, 0.7); 
	backdrop-filter: blur(10px);
	display:flex;
	align-content:center;
	justify-content:center;
}
main .main_container .content{
	background-color:white;
	width:87%;
	color:purple;
	margin:40px 0;
	border-radius:10px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
main .main_container .content .divider{
	display:flex;
	width:100%;
	height:100%;
	justify-content:space-around;
}

.divider > div{
	width:33%;
	height:100%;
	border: 1px solid magenta;
}

a img{
	height:200px;
	width:200px;
	position:relative;
	top:25%;
}































