body{
	background: linear-gradient(rgb(255, 255, 255), rgb(255, 0, 0));
	height: 200vh;
	padding:0px;
	margin:0px;
}
#flex_whole{
	display:flex;
	justify-content:center;
	width:100vw;
	border:1px solid black;
	/* margin: 1rem 0; */
}
.title_card{
	height:5rem;
	width:95%;
	border:1px solid black;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	/* padding: 0 1rem; */
}
.title_card img{
	height:100%;

}
.graphic_container{
	margin: 0.5rem 0;
	display:flex;
	border:1px solid black;
	flex-direction:row;
	justify-content:center;
	align-items:center;

}
#thunder{
	padding:0;
	position:relative;
}
#thunder img{
	margin:0;
	width:18rem;
	height:10rem;
	position:relative;
	border-radius: 4px;
	transition:
}
#thunder .yaml_clip{
	font-family:'Black Ops One', system-ui;
	color:rgba(81,83,78,1);
	font-size:4.1rem;
	text-align:center;
	line-height:3.75rem;
	background-clip:text;
	display:flex;
	position:absolute;
	top:0;
	background-color:white;
	width:100%;
	height:100%;
	justify-content:center;
	align-items:center;
	align-content:center;
	flex-wrap:wrap;
}
main{
	display:flex;
	justify-content:space-between;
	width:95%;
	margin: 0 auto;
	height:60%;
	border:3px solid green;
}
.item{
	border:1px solid yellow;
	background-color:white;

}
section{
	display:flex;
	flex-direction:column;
	margin:0 1rem;
}
.left{
	justify-content:space-between;

}
.right{
	flex-wrap:wrap;
	height:100%;
	align-content:stretch;

}

em{
	font-weight:700;

}









